@{
    ViewBag.Title = "Home | Index";
}

<p>Everyone can access this page.</p>

<table class="table">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>a1@gmail.com</td>
        <td>123456</td>
        <td>Jennie Kim</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>a2@gmail.com</td>
        <td>123456</td>
        <td>Kim Ji-Soo</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>m1@gmail.com</td>
        <td>123456</td>
        <td>Lalisa Manoban</td>
        <td>Member</td>
    </tr>
    <tr>
        <td>m2@gmail.com</td>
        <td>123456</td>
        <td>Roseanne Park</td>
        <td>Member</td>
    </tr>
</table>
